
app/models/bert_spam_classifier/checkpoint-*/
app/models/bert_spam_classifier/pytorch_model.bin
app/models/bert_spam_classifier/checkpoint-*/
app/models/bert_spam_classifier/pytorch_model.bin
app/models/bert_spam_classifier/checkpoint-*/
app/.env
.env
venv/
__pycache__/
*.pyc

app/models/bert_spam_classifier/model.safetensors